@tailwind base;@tailwind components;@tailwind utilities;

.error {
    color: red;
}

.success {
    color: green;
}

.container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.mobile-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
    flex: 1;
    padding-bottom: 24px;
}
